.container {
  margin: 20px;
}

.title {
  font-size: medium;
  font-weight: bold;
}

.bloc {
  width: 33%;
  display: inline-block;
  align-items: center;
  align-content: center;
  text-align: center;
}
